@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background: 41, 62, 81;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-[80px];
  }

  h2 {
    @apply text-[40px];
  }

  h3 {
    @apply text-[22px];
  }

  h4 {
    @apply text-[18px];
  }
}

@layer components {
  article123 {
    @apply text-justify text-[15px] text-[#313332] leading-6 tracking-tight;
  }
}

.hashtag {
  @apply text-justify text-[15px] text-[#787878] leading-6 tracking-tight;
}
